.itemCard{
    display: grid;
    grid-template-areas: "a b b e"
                         "a c c e"
                         "a d d e";
    gap: 10px;
    min-width: 500px;
    /* border-style: solid;
    border-radius: 5px; */
}

.itemDetails{
    grid-area: a;
    display: flex;
}

.quantity {
    display: flex;
    grid-area: b;
    justify-content: flex-end;
    gap: 10px;
}

.buttonContainer{
    display: flex;
    justify-content: flex-end;
    grid-area: c;
}

.customisationContainer{
    grid-area: d;
}

.itemCard > strong {
    grid-area: e;
}