#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.customUpdate{
    margin-top: 15px;
}
.customUpdate:hover:disabled{
    cursor: default !important;
    outline: none;
    border-color: transparent !important;
}

.orders{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.orders>*:not(:last-child) {
    border-bottom: solid;
    padding-bottom: 15px;
    border-width: 1px;
  }