#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.customUpdate{
    margin-top: 15px;
}
.customUpdate:hover:disabled{
    cursor: default !important;
    outline: none;
    border-color: transparent !important;
}

.orders{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.orders>*:not(:last-child) {
    border-bottom: solid;
    padding-bottom: 15px;
    border-width: 1px;
}

.modal{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: aliceblue;
    padding: 10px;
    color: black;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 12px;
    position:  absolute;
    top: 70px;
    bottom: 70px;
}

.modal-back {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}