.itemCard{
    display: grid;
    grid-template-areas: "a . b b b"
                         "a . c c c"
                         "a . d d d"
                         "a e e e e";
    gap: 5px;
    /* border-style: solid;
    border-radius: 5px; */
}

.itemDetails{
    grid-area: a;
    display: flex;
}

.quantity {
    grid-area: b;
}

.buttonContainer{
    grid-area: c;
}

.customisationContainer{
    grid-area: d;
}

.itemCard > strong {
    grid-area: e;
}