.delivery{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.delivery > button{
    margin-bottom: 10px;
}

#deliveryButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0;
    padding: 15px;
    font-size: 1.2em;
    margin: 4px;
    text-align: left;
}
#deliveryButton.active{
    outline: white solid 1px !important;
}

#deliveryButton:focus{
    outline: none;
}

.orderSummary{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.orderSummary > label{
    width: 50%;
    text-align: start;
}

.orderSummary > span{
    width: 50%;
    text-align: end;
}